<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Good courses</title>
    <link href="main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
<div class="header" id="header">
    <div class="header_content">
        <a class="logo" href="/catalog">
            <img src="images/logo.svg"/>
        </a>
        <div class="navigation">
            <div class="links">
                <a class="link" href="/catalog">
                    <span th:text="#{header.links.all_courses}"></span>
                </a>
                <div th:if="${session.user.roleId==3}">
                    <a class="link" href="/personal_courses">
                        <span th:text="#{header.links.my_courses}"></span>
                    </a>
                </div>
                <div th:if="${session.user.roleId==1}">
                    <a class="link" href="/students">
                        <span th:text="#{header.links.students}"></span>
                    </a>
                </div>
                <form>
                    <select class="dropdown_local" id="language" name="lang" onchange="submit()">
                        <option th:selected="__${#locale}__ == 'en'" value="en">en</option>
                        <option th:selected="__${#locale}__ == 'ru'" value="ru">ru</option>
                    </select>
                    <input name="pattern" type="hidden" th:value="${param.pattern}">
                    <input name="courseId" type="hidden"
                           th:value="${param.courseId != null ? param.courseId : session.course != null ? session.course.id : 0}">
                    <input name="new_page_key" type="hidden" th:value="${param.new_page_key}">
                    <th:block th:each="t : ${topic}">
                        <input name="topic" type="hidden" th:value="${t}">
                    </th:block>
                    <th:block th:each="t : ${teacher}">
                        <input name="teacher" type="hidden" th:value="${t}">
                    </th:block>
                    <th:block th:each="c : ${completion}">
                        <input name="completion" type="hidden" th:value="${c}">
                    </th:block>
                </form>

            </div>
            <div class="actions">
                <div class="student_info">
                    <div class="student_name" th:text="|${session.user.firstName} ${session.user.lastName}|"></div>
                    <div class="student_email" th:text="${session.user.email}"></div>
                </div>
                <form action="log_out" method="post">
                    <input class="primary_button" th:value="#{header.button.submit}" type="submit"/>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    window.onscroll = function(){headerFunction()};

    var header = document.getElementById("header");
    var sticky = header.offsetTop;

    function headerFunction() {
    if (window.pageYOffset > sticky) {
       header.classList.add("sticky");
    } else {
        header.classList.remove("sticky");
    }
}
</script>